*{
    margin: 0px;
    padding: 0px;
    line-height: 0px;
}

html{
    min-height: 100%;
    position: relative;

}

body{
    min-height: 600px;
}

.upload_field {
    border: 1px solid black;
    background: darkblue;
    height: 100px;
    width: 100%;

}
.grid {
    height: 148px;
    width: 148px;
    border: 1px solid black;
    display: inline-block;
}

.row {
    width: 600px;

}
#container, #create-collage {
    position: relative;
    background-color: gray;
}



#img_container {
    line-height: 0px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    position: relative;
    height: 900px;
    background-color: white;
}

#preview_container {
    background-color: black;
}

.photo {
    position: absolute;
    display: inline-block;
}
.btn {
    height: 50px;
    width: 100px;
}

.img_list {
    border: 1px solid black;
    margin-bottom: 10px;
}

.thumbnail {
    height: 200px;
    width: 133px;
}

#print-whole-wait {
    margin-top: 30px;
}